.pro2{
    width: 280px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px lightgray;
}
.bac2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bac12{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 50px;
    gap: 30px;
}
.fontea12{
    color: black;
    font-size: 60px;
    font-weight: 700;
}